.listItemContainer{
   width: 30%;
   list-style-type: none;


}

@media screen and (max-width:576px){
    .listItemContainer{
        width: 180vw;
    
    }

    .image{
        height: 180vh;
        min-height: 160vh;
        width: 160vw;
        min-width: 180vw;
        border-radius: 20px;
        margin-bottom: 20px;
    
    }
}

.image{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;

}